[user]
  name = Kian Cross
  useConfigOnly = true

[push]
  autoSetupRemote = true

[core]
  editor = vim

[init]
  defaultBranch = master
[pager]
	show = delta
	diff = delta
	log = delta
[interactive]
	diffFilter = delta --color-only

[include]
  path = ~/.gitconfig.local
